<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">
<head>
  <title>New Maintenance</title>
</head>
<body>
<main layout:fragment="content">
  <div class="container">
    <h1>New Maintenance</h1>
    <form th:action="@{/maintenance}" th:object="${maintenance}" method="post">
      <div class="form-group">
        <label for="resourceID">Resource ID</label>
        <input type="number" class="form-control" id="resourceID" th:field="*{resourceID}">
      </div>
      <div class="form-group">
        <label for="userID">User ID</label>
        <input type="number" class="form-control" id="userID" th:field="*{userID}">
      </div>
      <div class="form-group">
        <label for="maintenanceDate">Maintenance Date</label>
        <input type="date" class="form-control" id="maintenanceDate" th:field="*{maintenanceDate}">
      </div>
      <div class="form-group">
        <label for="maintenanceDetails">Maintenance Details</label>
        <textarea class="form-control" id="maintenanceDetails" rows="3" th:field="*{maintenanceDetails}"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Create Maintenance</button>
    </form>
  </div>
</main>
</body>
</html>
