<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">
<head>
  <title>Delete User</title>

</head>
<body>
<main layout:fragment="content">
  <div class="container">
    <h1 class="title">Delete User</h1> <!-- Add 'title' class -->
    <p>Are you sure you want to delete this user?</p>
    <form th:action="@{'/user-management/delete/' + ${user.userID}}" method="post" class="form"> <!-- Add 'form' class -->
      <button type="submit" class="btn btn-danger">Yes, delete user</button> <!-- Add 'btn btn-danger' classes -->
    </form>
    <a href="/user-management" class="btn btn-secondary">No, go back</a> <!-- Add 'btn btn-secondary' classes -->
  </div>
</main>
</body>
</html>
