<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">
<head>
  <<h1 class="title" th:text="${title}"></h1>

</head>
<body>

<main layout:fragment="content">
  <div class="container">


    <form th:object="${user}" th:action="@{/user-management/save}" method="post" class="form"> <!-- Add 'form' class -->
      <input type="hidden" th:field="*{userID}">
      <label for="username">Username:</label>
      <input type="text" th:field="*{userName}" id="username">
      <label for="email">Email:</label>
      <input type="email" th:field="*{userEmail}" id="email">
      <label for="password">Password:</label>
      <input type="password" th:field="*{userPassword}" id="password">
      <label for="contact">Contact:</label>
      <input type="text" th:field="*{userContact}" id="contact">
      <label for="role">Role:</label>
      <input type="text" th:field="*{role}" id="role">
      <button type="submit" class="btn btn-primary">Save</button> <!-- Add 'btn btn-primary' classes -->
    </form>
  </div>
</main>

</body>
</html>
